<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" [class.open]="collapsed" [class.collapsed]="!collapsed">
        <div class="sidebar-heading" (click)="isCollapsed()">
            <div class="logo text-overflow">
                <img class="icon-logo" src="../../../assets/icon-sidebarright.png" alt="">
                <span>{{collapsed?'SuperLectores':''}}</span>
            </div>
        </div>
        <div class="list-group list-group-flush text-overflow">
            <a [routerLink]="['/home']" class="list-group-item list-group-item-action bg-light menu-home">
                <fa-icon class="fa-2x home-icon" icon="home"></fa-icon>{{collapsed?'Inicio':''}}
            </a>
            <a *ngIf="currentUser.role=='Admin'" [routerLink]="['/admin']"
                class="list-group-item list-group-item-action bg-light">
                <fa-icon class="fa-2x security-icon" icon="user-shield"></fa-icon>{{collapsed?'Administrador':''}}
            </a>
            <a *ngIf="currentUser.role=='Admin'" [routerLink]="['/teacher']"
                class="list-group-item list-group-item-action bg-light">
                <fa-icon class="fa-2x teacher-icon" icon="chalkboard-teacher"></fa-icon>{{collapsed?'Maestros':''}}
            </a>
            <a *ngIf="currentUser.role!=='Student'" [routerLink]="['/student']"
                class="list-group-item list-group-item-action bg-light">
                <fa-icon class="fa-2x students-icon" icon="user-plus"></fa-icon>{{collapsed?'Alumnos':''}}
            </a>
            <a *ngIf="currentUser.role==='Admin'" [routerLink]="['/classRoom']"
                class="list-group-item list-group-item-action bg-light">
                <fa-icon class="fa-2x group-icon" icon="users"></fa-icon>{{collapsed?'Grupos':''}}
            </a>
            <a *ngIf="currentUser.role==='Teacher'" [routerLink]="['/content']"
                class="list-group-item list-group-item-action bg-light">
                <fa-icon class="fa-2x content-icon" icon="book-reader"></fa-icon>{{collapsed?'Contenido':''}}
            </a>
            <a *ngIf="currentUser.role=='Teacher'" [routerLink]="['/report']"
                class="list-group-item list-group-item-action bg-light">
                <fa-icon class="fa-2x report-icon" icon="chart-line"></fa-icon>{{collapsed?'Monitoreo':''}}
            </a>
            <br>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{fullName() }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" (click)="exit()">Salir</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->