.add{
    margin-left: -35px;
    border-radius: 50%;
    float: right;
}

/* .size{
	background: white;
	height: 200px;
	width: 160px;
} */
.title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}