<h5 class="mt-3">Contenido</h5>
<button type="button" class="btn btn-danger add mb-3" [routerLink]="['/contentdetail/0']">+</button>
<div class="card mt-5 margin-card">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" *ngFor="let item of content">
                <div class="card size">
                    <img src="{{handleFile(item.img)}}" class="card-img">
                    <p class="card-text">
                        {{item.title}}
                    </p>
                </div>
            </div>
        </div>
        <p class="text-center" *ngIf="content.length==0">No existe Contenido registrado.</p>
    </div>
</div>