.add{
    margin-left: -35px;
    border-radius: 50%;
    float: right;
}

.title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.p-card{
    padding: 0px;
}
.card-body-view{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
