<div class="card mt-3" *ngIf="this.currentContent && this.currentStudentContent">
    <h5 class="card-header">{{this.currentContent.content.title}}</h5>
    <div class="card-body" *ngIf="!this.currentStudentContent.isFinish">
        <div *ngIf="!this.displayQuestions">
            <div *ngFor=" let item of this.currentContent.pages; let i=index">
                <div class="row" *ngIf="this.currentPageContent==i">
                    <div class="col-3">
                        <img class="img-fluid" src="{{this.imageService.convertBase64ToImage(item.img)}}" alt="">
                    </div>
                    <div class="col-9">
                        <h5 class="card-title text-center">Pagina {{i+1}}</h5>
                        <p class="card-text">{{item.text}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="this.displayQuestions">
            <div *ngFor="let question of this.currentContent.questions; let i = index">
                <div class="row" *ngIf="this.currentQuestion == i">
                    <ul class="question m-0 p-0">
                        {{question.text}}
                        <ul class="question ml-3" *ngFor="let answer of question.answers; let j = index">
                            <label>
                                <input type="radio" name="question{{i}}" (click)="answer.isCorrect=true"
                                    [checked]="answer.isCorrect">
                                <span> {{answer.text}}</span>
                            </label>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text text-danger" *ngIf="!this.isAnswerSelectedValid && this.displayQuestions">
            Debes seleccionar una respuesta.
        </div>
        <div class="row">
            <a class="btn btn-primary ml-auto mr-3 text-white"
                *ngIf="this.displayQuestions ? this.currentQuestion>0:this.currentPageContent>0"
                (click)="lastPage()">Anterior</a>
            <a class="btn btn-primary mr-3 text-white"
                [ngClass]="{'ml-auto': this.displayQuestions? this.currentQuestion==0: this.currentPageContent==0}"
                (click)="nextPage()"
                *ngIf="this.displayQuestions ?this.currentQuestion<this.currentContent.questions.length-1:this.currentPageContent<this.currentContent.pages.length-1">Siguiente</a>
            <a class="btn btn-primary mr-3 text-white"
                [ngClass]="{'ml-auto': this.displayQuestions? this.currentQuestion==0: this.currentPageContent==0}"
                (click)="nextStep()"
                *ngIf="this.displayQuestions ? this.currentQuestion==this.currentContent.questions.length-1: this.currentPageContent==this.currentContent.pages.length-1">Terminar</a>
        </div>
    </div>
    <div class="card-body img-congratulations" *ngIf="this.currentStudentContent.isFinish">
        <div class="container">
            <h1 class="text-center">¡Felicidades Super Lector!</h1>
            <h4 class="text-center">Ya has leido este Contenido</h4>
            <h5 class="text-center">Te gustaria leerlo de nuevo?</h5>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-info mr-1" (click)="readAgain()">Claro</button>
                    <button class="btn btn-primary btn-purple" [routerLink]="['/home']"
                        routerLinkActive="router-link-active">En otro momento</button>
                </div>
            </div>
        </div>
    </div>
</div>