<h5 class="mt-3">Crear Contenido</h5>
<div class="card-body mt-3">
    <div class="md-stepper-horizontal orange row">
        <div class="md-step title col-4 pt-4" [ngClass]="{'active' : this.currentStepper==1}">
            <div class="md-step-circle"><span>1</span></div>
            <div class="md-step-title">Titulo</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
        </div>
        <div class="md-step pages col-4 pt-4" [ngClass]="{'active' : this.currentStepper==2}">
            <div class="md-step-circle"><span>2</span></div>
            <div class="md-step-title">Paginas</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
        </div>
        <div class="md-step question col-4 pt-4" [ngClass]="{'active' : this.currentStepper==3}">
            <div class="md-step-circle"><span>3</span></div>
            <div class="md-step-title">Preguntas</div>
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
        </div>
        <!-- <div class="md-step">
                <div class="md-step-circle"><span>4</span></div>
                <div class="md-step-title">Review</div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div> -->
    </div>
    <div class="modal-body" *ngIf="this.currentStepper==1">
        <form [formGroup]="formContent" class="needs-validation" novalidate>
            <div class="form-group ">
                <label for="name">Titulo</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre" name="name"
                    formControlName="title">
                <div *ngIf="">
                    Campo requerido
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Siguiente</button>
            </div>
        </form>
    </div>
</div>