.img-center{
    background-image: url("../../../assets/ReadersPanelCenter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}
.size-form{
    width: 80%;
}
.font-login{
    font-family: 'Josefin Sans';
}
.btn-primary.login-btn {
	background-color: #79CFCD;
	border-color: #79CFCD;
}
.height-img{
    height: 100vh;
}
