<div class="container">


    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a href="" data-target="#Perfil" data-toggle="tab" class="nav-link active"> Perfil

                    </a>
                </li>

                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Editar Información</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="Perfil">
                    <h5 class="mb-3">



                    </h5>
                    <div class="row">
                        <div class="col-md-6">

                            <!--<span class="badge badge-primary" style="width: 100%; font-size: 150%; " ><i class="fa fa-user" ></i>Datos Personales </span>
                            -->

                            <span class="badge badge-primary"
                                style="width: 100%; height: 10%;  border: 1px solid aqua; align-items: center; font-size: 120%;">
                                <i class="fa fa-user"></i>
                                Datos Personales</span>


                            <p></p>
                            <h6>Nombre Completo</h6>
                            <p id="prueba3"></p>

                            <h6>Nombre de Usuario</h6>
                            <p id="username2">

                            </p>

                            <h6>Rol</h6>
                            <p id="rol2">
                            </p>
                            <h6>Email</h6>
                            <p id="email">
                            </p>

                            <div id="grupo1">
                                <h6>Grupo Asignado</h6>
                            </div>

                            <p id="classroom">
                            </p>

                            <div id="grupo1">
                                <h6>Fecha de Nacimiento</h6>
                            </div>

                            <p id="fechanaci" type="date">
                            </p>


                        </div>

                        <div class="col-md-6" id="datosEsc">
                            <hr>
                            <span class="badge badge-success"
                                style="width: 100%; height: 10%;  border: 1px solid aqua; align-items: center; font-size: 120%;"><i
                                    class="fa fa-cog"></i> Datos de la Escuela</span>
                            <hr>
                            <a href="#" class="badge badge-dark badge-pill">html5</a>
                            <a href="#" class="badge badge-dark badge-pill">react</a>
                            <a href="#" class="badge badge-dark badge-pill">codeply</a>
                            <a href="#" class="badge badge-dark badge-pill">angularjs</a>
                            <a href="#" class="badge badge-dark badge-pill">css3</a>
                            <a href="#" class="badge badge-dark badge-pill">jquery</a>
                            <a href="#" class="badge badge-dark badge-pill">bootstrap</a>
                            <a href="#" class="badge badge-dark badge-pill">responsive-design</a>

                        </div>


                        <div class="col-md-12" id="actrec">
                            <hr>
                            <h5 class="mt-2">
                                <span class="badge badge-danger"
                                    style="width: 100%; height: 10%;  border: 1px solid aqua; align-items: center; font-size: 120%;">
                                    <i class="fa fa-eye"></i>
                                    Actividad Reciente</span>
                            </h5>
                            <table class="table table-sm table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Juan</strong> acaba de leer el libro <strong>"Blanca
                                                Nieves"</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Luis</strong> acaba de leer el libro <strong>"La Princesa y el
                                                Sapo"</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Paula</strong> acaba de leer el libro <strong>"Pinocho"</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Roberto</strong> acaba de leer el libro <strong>"Pinocho"</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Miguel</strong> acaba de leer el libro <strong>"Stuart
                                                Little"</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>

                <div class="tab-pane" id="edit">
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a> Favor de no dejar ningun espacio
                        <strong> vacio </strong>. </div>

                    <form action="" name="formulario" method="get" id="form1">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Nombre/s</label>
                            <div class="col-lg-9">
                                <input value="" class="form-control" type="text" name="nombreee" id="ban1" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Apellidos</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" id="ban2" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value="" id="ban3">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"> Nombre de Usuario</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" id="ban4">
                            </div>
                        </div>
                        <!--
                            <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Contraseña Actual</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="">
                            </div>
                            </div>

                            <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Nueva Contraseña</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="">
                            </div>
                            </div>

                            <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Confirmar Nueva Contraseña</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="">
                            </div>
                            </div>
                            -->
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancelar">
                                <input type="submit" class="btn btn-primary" value="Salvar Cambios"
                                    (click)="ejecutar()">
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>


        <div class="col-lg-4 order-lg-1 text-center">
            <img id="Imagen" src="" style="border: 5px solid; color:white;" class="mx-auto img-fluid img-circle d-block"
                alt="avatar" height="350px" width="350px">

            <h6 class="mt-2">SuperLectores!</h6>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">

            </label>
        </div>
        <!---
        <div class="col-lg-4 order-lg-1 text-center" id="ImgStudent">
            <img src="https://cdn.pixabay.com/photo/2014/04/03/10/49/boy-311392_960_720.png" style="border: 5px solid; color:white;" class="mx-auto img-fluid img-circle d-block" alt="avatar"  height="350px" width="350px">
            <h6 class="mt-2">SuperLectores!</h6>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
        
            </label>
        </div>

        <div class="col-lg-4 order-lg-1 text-center" id="ImgAdmin">
            <img src="https://cdn.pixabay.com/photo/2014/04/03/11/56/manager-312603_960_720.png" style="border: 5px solid; color:white;" class="mx-auto img-fluid img-circle d-block" alt="avatar"  height="250px" width="250px">
            <h6 class="mt-2">SuperLectores!</h6>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
        
            </label>
        </div>
        -->
    </div>
</div>

<body>

</body>