<h5 class="mt-3">Grupos</h5>
<button type="button" class="btn btn-danger add mb-3" data-toggle="modal" data-target="#exampleModal"
    (click)=initClassRoom()>+</button>
<div class="card mt-5 margin-card">
    <!-- <h5 class="card-header">Grupos</h5> -->
    <div class="card-body">
        <table class="table table-bordered table-hover table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let item of columns">{{item}}</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of classRooms">
                <tr>
                    <td class="size-row">{{item.name}}</td>
                    <td class="size-row">{{item.teacher?item.teacher:"Sin asignar..."}}</td>
                    <td class="size-row">{{item.quantityStudents}}</td>
                    <td class="size-row">{{item.status?'Activo':'Inactivo'}}</td>
                    <td class="icons size-row">
                        <!-- <div class="row"> -->
                        <!-- <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6"> -->
                        <button class="btn icons" data-toggle="tooltip" data-placement="top" title="Editar"
                            (click)="editClassRoom(item)" data-toggle="modal" data-target="#exampleModal">
                            <fa-icon class="fa-lg" icon="edit"></fa-icon>
                        </button>
                        <!-- </div> -->
                        <!-- <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6"> -->
                        <button class="btn icons" data-toggle="tooltip" data-placement="top" title="Eliminar"
                            data-toggle="modal" data-target="#myModal" (click)="editClassRoom(item)">
                            <fa-icon class="fa-lg" icon="trash"></fa-icon>
                        </button>
                        <!-- </div> -->
                        <!-- </div> -->
                    </td>

            </tbody>

        </table>
        <p class="text-center" *ngIf="classRooms.length==0">No existen Grupos registrados.</p>
    </div>
</div>

<!-- Modal EDIT/CREATE-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{this.isUpdate?'Actualizar ':'Crear '}} Grupo
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formClassRoom" class="needs-validation" novalidate (ngSubmit)="onSubmit()">
                    <div class="form-group ">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" placeholder="Nombre" name="name"
                            formControlName="name" [ngClass]="{'is-invalid':submitted && controls.name.errors }">
                        <div *ngIf="submitted && controls.name.errors" class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            (click)="initClassRoom()">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DELETE -->
<div class="bs-example">
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro de eliminar al usuario {{this.formClassRoom.get('name').value}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="initClassRoom()" data-dismiss="modal"
                        data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="delete()"
                        data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>