.img-home {
  width: 100%;
  height: 100%;
}

.img-admin {
  width: 100%;
  height: 75vh;
}

.nopad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*image gallery*/

.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid transparent;
  margin-bottom: 0;
  outline: 0;
}

.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  border-color: #4783B0;
}

.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}

.image-checkbox-checked .fa {
  display: block !important;
}

.content {
  cursor: pointer;
}

.categories {
  width: 130px;
  /* You can set the dimensions to whatever you want */
  height: 130px;
  object-fit: cover;
}

.content-size {
  width: 170px!important;
  /* You can set the dimensions to whatever you want */
  height: 250px!important;
  object-fit: cover!important;
}

.fade {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .fade {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}